<style>
.pixiedust-app .expandButton,
.pixiedust-app .expandButton + button {
    display: none;
}
.pixiedust-app .modal-dialog {
    width: 800px !important;
}
.pixiedust-app .modal-header {
    display: none;
}
.pixiedust[pixiedust] > .pixiedust[pixiedust] {
    padding-top: 0;
    margin-top: 0;
}
.watson-ml-app,
.watson-ml-app .pd_wrapper {
    background-color: #fff;
    color: #1d3649;
    font-size: 14px;
    font-weight: 300;
    height: 100%;
    position: relative;
    width: 100%;
}
.watson-ml-app .pd_wrapper > div {
    height: 100%;
    position: relative;
}
.watson-ml-app .pd_dismiss {
    cursor: pointer;
    position: absolute;
    right: -25px;
    top: -10px;
    z-index: 100;
}
.watson-ml-app .pd_title {
    font-size: 41px;
    margin: 0 0 24px 0;
}
.watson-ml-app .pd_main {
    overflow: auto;
    position: absolute;
    top: 115px;
    bottom: 85px;
    left: 0;
    right: 0;
}
.watson-ml-app table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
.watson-ml-app table th {
    color: #1d3649;
    text-align: left;
    padding: 5px 20px;
    border: none;
    border-top: 1px solid #c7c7c7;
    border-bottom: 2px solid #e0e0e0;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}
.watson-ml-app table th,
.watson-ml-app table td {
    height: 50px;
    padding-left: 12px;
    padding-right: 12px;
}
.watson-ml-app table th:first-of-type,
.watson-ml-app table tr td:first-of-type {
    padding-left: 30px;
}
.watson-ml-app table th:last-of-type,
.watson-ml-app table tr td:last-of-type {
    padding-right: 30px;
}
.watson-ml-app table tbody tr:hover {
    background-color: #f7f7f7;
    cursor: pointer;
}
.watson-ml-app table tbody tr.selected {
    background-color: #ececec;
}
.watson-ml-app table tr:not(:last-of-type) {
    border-bottom: 1px solid #e1e4e5;
}
.watson-ml-app table td {
    color: #777677;
    border-bottom: 1px solid #e0e0e0;
}
.watson-ml-app table tr td:last-of-type {
    color: #a6266e;
}
.watson-ml-app .pd_buttons {
    position: absolute;
    bottom: 20px;
    right: 0;
}
.watson-ml-app [pd_widget="pdButton"] {
    display: inline-block;
}
.watson-ml-app .formField {
    margin: 10px 0 60px 0;
}
.watson-ml-app .formLabel {
    display: block;
    font-weight: 700;
    font-weight: 700;
    font-size: 1rem;
    box-sizing: border-box;
    margin-bottom: .25rem;
    color: #264A60;
}
.watson-ml-app input[type="text"] {
    border: 0;
    border-bottom: 0.125rem solid #777677;
    color: #1d3649;
    padding: 0.5rem 0;
    width: 100%;
}
.watson-ml-app textarea {
    line-height: 1.4;
    color: #1d3649;
    width: 100%;
    padding: .75rem;
    font-weight: 400;
    box-sizing: border-box;
    margin: 0;
    max-height: 15em;
    min-height: 10em;
    resize: none;
}
.watson-ml-app select {
    margin: 0;
    width: 100%;
    display: block;
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
    border-radius: 0;
    background-color: transparent;
    border: none;
    border-bottom: solid 0.125rem #a6266e;
    color: #a6266e;
    margin: 0.25em 0 1.25em 0;
    height: 2.35rem;
}
.watson-ml-app .dropdown a.dropdown-toggle {
    font-size: 40px;
    font-weight: 800;
    text-decoration: none;
}
.watson-ml-app .dropdown-menu {
    background-color: #F9F9FB;
    top: 75%;
}
.watson-ml-app .dropdown-menu li:hover {
    background-color: #A6266E;
}
.watson-ml-app .dropdown-menu li a {
    background-color: transparent;
    color: #152935;
    font-weight: 300;
}
.watson-ml-app .dropdown-menu li a:hover {
    text-decoration: none;
    color: #FFFFFF;
}
.watson-ml-app .dropdown-menu li:hover a {
    background-color: transparent;
    color: #FFFFFF;
}
.watson-ml-app .redText {
    color: red;
}
</style>
<div class="watson-ml-app" pixiedust="{{ pd_controls|htmlAttribute }}">
    <span class="pd_dismiss" aria-hidden="true"  data-dismiss="modal">
        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <title>close</title>
            <defs></defs>
            <g id="Mid-Fi-WIreframes-" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Active-Policy" transform="translate(-1411.000000, -62.000000)" fill="#A6266E">
                    <g id="Group-18" transform="translate(0.000000, 50.000000)">
                        <g id="close" transform="translate(1411.000000, 12.000000)">
                            <polygon id="Fill-1" points="15.6797143 7.10828571 12 10.788 8.32028571 7.10828571 7.10828571 8.32028571 10.788 12 7.10828571 15.6797143 8.32028571 16.8917143 12 13.212 15.6797143 16.8917143 16.8917143 15.6797143 13.212 12 16.8917143 8.32028571"></polygon>
                            <path d="M12,22.2857143 C6.32828571,22.2857143 1.71428571,17.6717143 1.71428571,12 C1.71428571,6.32828571 6.32828571,1.71428571 12,1.71428571 C17.6717143,1.71428571 22.2857143,6.32828571 22.2857143,12 C22.2857143,17.6717143 17.6717143,22.2857143 12,22.2857143 M12,0 C5.37342857,0 0,5.37342857 0,12 C0,18.6265714 5.37342857,24 12,24 C18.6265714,24 24,18.6265714 24,12 C24,5.37342857 18.6265714,0 12,0" id="Fill-2"></path>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
    </span>
    <div class="pd_wrapper" id="pd_app{{ prefix }}">
    <div pd_widget="WMLServices"></div>
    </div>
</div>
